.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #43cea2, #185a9d);
}

.login-form {
  background: #fff;
  padding: 30px;
  width: 350px;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
}

.login-form h2 {
  text-align: center;
  color: #43cea2;
  margin-bottom: 20px;
}

.login-form input {
  margin-bottom: 12px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ac4d4d;
  border-radius: 5px;
}

.login-form button {
  padding: 10px;
  border: none;
  background: #185a9d;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.login-form button:hover {
  background: #144b80;
}

.login-form p {
  margin-top: 15px;
  color:#185a9d;
  text-align: center;
  font-size: 14px;
}

.login-form span {
  color: #185a9d;
  cursor: pointer;
  font-weight: bold;
}
